@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/ol/ol.css';

body {
  background-color: #ccc;
}

#map {
  margin-top: 3em;
}

#map, #map > div {
  border-radius: 1em;; 
}
